<!--
  Plantilla del layout administrativo para CutsFrame.

  Define la estructura principal de las vistas del área de administración,
  incluyendo la barra de navegación superior exclusiva para administradores,
  el área de contenido dinámico (mediante <router-outlet>)
  y el pie de página administrativo.
-->

<div class="admin-layout d-flex flex-column min-vh-100">
    <app-navbar-admin></app-navbar-admin>
    <div class="flex-grow-1">
        <router-outlet></router-outlet>
    </div>
    <app-footer-admin></app-footer-admin>
</div>

